body {
    background-color: #303030 !important;
            }
img {
    border-radius: 100%;
            }
h1 {
    color: ghostwhite !important;
    font-size: 35px;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: 600;
    font-family: 'Inconsolata', monospace;
            }
a {
    color: ghostwhite !important;
    text-decoration: none;
            }
 * {
    font-family: 'Inconsolata', monospace;
     color: white;
     font-weight: 600;
}
 p {
     font-weight: 300;
     font-size: large;
 }
.t-image {
    position: relative;
    top: -4px;
}
.bar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw / 20);
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
}

.bar-wipe-animation .bar {
  animation: bar-wipe 1s forwards;
}

.bar-wipe-animation .bar.down {
  animation: bar-wipe-down 1s forwards;
}

@keyframes bar-wipe {
  to {
    transform: translateY(-100%);
  }
}

@keyframes bar-wipe-down {
  to {
    transform: translateY(100%);
  }
}
.list-group-item {
      background-color: #303030;
      color: #ffffff; 
    }
    .list-group-item a {
      color: #ffffff; 
      text-decoration: none; 
    }
    .list-group-item a:hover {
      color: #ffcc00; 
    }
